{% extends 'info/base.html' %}

    {% block content %}
    <div class="container">

        <form method="get" action="/search" class ="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="search" name="query" id="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% for  post in allPosts  %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
                <div class="col p-4 d-flex flex-column position-static"> 
                  <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
                  <h3 class="mb-0">{{post.title}}</h3>
                  <div class="mb-1 text-muted">{{post.datetime}}</div>
                  <p class="card-text mb-auto">{{post.content | truncatechars:200}}</p>
                  <a href="/info/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
                </div>
           <div class="col-auto d-none d-lg-block">
                  
            </div>     
        </div>
              {% endfor %}
    </div>
        
    {% endblock %}
