{% extends 'info/base.html' %}

{% block content %}
<div class="container">
        {% block body %}

        <div class="container my-3">
        <div class="blog-post">
                
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.timeStamp}} by <a href="#">{{post.author}}</a></p>
                    
                <p>{{post.content}}</p>
                <hr>
            </div>
            </div>
        {% endblock body%}
        </div>
        {% endblock %}