{% extends 'info/base.html' %}

    {% block content %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        Placement Archives
                    </h2>
                </div>
                <br>
                <div id="no-more-tables"> 
                <br> 
                <a class="btn btn-primary" role="button" href="https://docs.google.com/presentation/d/19J4nCzTJ4lIxtWegRHax9Dy_hAnL5gne/edit?usp=drivesdk&ouid=113792750134611053988&rtpof=true&sd=true">Siemens Healthineers</a>
                 <a class="btn btn-primary" role="button" href="https://docs.google.com/presentation/d/1MMLAQbXSiaARJYB3644-ObuHVi7XKA2Y/edit?usp=drivesdk&ouid=113792750134611053988&rtpof=true&sd=true">Robert Bosch</a>
                 <a class="btn btn-primary" role="button" href="https://docs.google.com/presentation/d/1MMLAQbXSiaARJYB3644-ObuHVi7XKA2Y/edit?usp=drivesdk&ouid=113792750134611053988&rtpof=true&sd=true">AWS</a>
                 <a class="btn btn-primary" role="button" href="https://drive.google.com/file/d/1ksaXwLEV716RYuFdzbhYBg6tohjH3Wtc/view?usp=drivesdk">Informatica</a>
                 <a class="btn btn-primary" role="button" href="https://drive.google.com/file/d/1_8PHk4tXzF1I_U3kHCrQDcGzyDU-7SQY/view?usp=drivesdk">Sony</a>
                 <a class="btn btn-primary" role="button" href="https://drive.google.com/file/d/1_8PHk4tXzF1I_U3kHCrQDcGzyDU-7SQY/view?usp=drivesdk">Sony</a>
                 <a class="btn btn-primary" role="button" href="https://docs.google.com/presentation/d/1Vvs7GMepkwMACOcsChjymrZwR8WkWNkR/edit?usp=drivesdk&ouid=113792750134611053988&rtpof=true&sd=true">Onetrust</a>
                <a class="btn btn-primary" role="button" href="https://docs.google.com/presentation/d/1qMQ2tPh1ojrUWlumI3P3bcrdrKkdz_ek/edit?usp=drivesdk&ouid=113792750134611053988&rtpof=true&sd=true">Amagi</a>
                <a class="btn btn-primary" role="button" href="https://docs.google.com/presentation/d/1XrdFXpsFznJgekq9lClROgLa-SLsCgX2/edit?usp=drivesdk&ouid=113792750134611053988&rtpof=true&sd=true">Mercedes Benz</a>
             
            </div>
        </div>


    </div>

    {% endblock %}
